// {
//   'initialize': '1px',
//   'small': '35.5em', // >= 568px @ 16px
//   'medium': '48em', // >= 768px @ 16px
//   'large': '64em', // >= 1024px @ 16px
//   'extra-large': '80em' // >= 1280px @ 16px
// }

@define-mixin small {
   @media (min-width: 35.5em){
      @mixin-content;
   }
}

@define-mixin medium {
   @media (min-width: 49em){
      @mixin-content;
   }
}

@define-mixin large {
   @media (min-width: 64em){
      @mixin-content;
   }
}

@define-mixin xlarge {
   @media (min-width: 80em){
      @mixin-content;
   }
}

@mixin clearfix {
   &::after{
      content: "";
      clear: both;
      display: table;
   }
}


