.feature-item{
  position: relative;
  padding-bottom: 2.5rem;

  @add-mixin large{
    padding-left: 5.875rem;
  }

  &__icon{
    display: block;
    margin: 0 auto;
    @add-mixin large{
      position: absolute;
      left: 0;
    }

  }
  &__title{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @add-mixin large{
      text-align: left;
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }
}