.headline{
   font-size: 1.9rem;
   color: $mainBlue;
   @add-mixin small{
      font-size: 2.875rem;
   }
   &--centered{
      text-align: center;
   }
   &--orange{
      color: $mainOrange;
   }
   &--small{
      font-size: 1.5rem;
      @add-mixin small{
      font-size: 1.875rem;
   }
   }

   &--narrow{
      max-width: 500px;
      margin: 0 auto;
   }
   &--light{
      font-weight: 100;
   }
   &--b-margin-small{
      margin-bottom: .5em;
   }
   &--b-margin-large{
      margin-bottom: 1.6em;
   }
   &--no-t-margin{
      margin-top: 0;

      
   }
}