.testimonial{
  background-color: rgba(255, 255, 255, .7);
  padding: 0 1.125rem 1px 1.125rem;
  margin-bottom: 98px;
  @add-mixin large{
    padding: 0 1.8125rem 1px 1.8125rem;
    margin-bottom: 0;
  }
  &--last-child{
    margin-bottom: 0;
  }

  &__photo{
    border-radius: 80px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto -80px auto;
    display: block;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }

  &__name{
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
  }

  &__title{
    color: $mainOrange;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 400;
    margin: .25rem 0 1rem 0;
  }


}